[submodule ".dotfiles/shell"]
	path = .dotfiles/shell
	url = https://github.com/dholm/dotshell.git
	branch = master
[submodule ".dotfiles/vim"]
	path = .dotfiles/vim
	url = https://github.com/dholm/dotvim.git
	branch = master
[submodule ".dotfiles/emacs"]
	path = .dotfiles/emacs
	url = https://github.com/dholm/dotemacs.git
	branch = master
[submodule ".dotfiles/tmux"]
	path = .dotfiles/tmux
	url = https://github.com/dholm/dottmux.git
	branch = master
[submodule ".dotfiles/xmonad"]
	path = .dotfiles/xmonad
	url = https://github.com/dholm/dotxmonad.git
	branch = master
[submodule ".dotfiles/taffybar"]
	path = .dotfiles/taffybar
	url = https://github.com/dholm/dottaffybar.git
	branch = master
[submodule ".dotfiles/misc"]
	path = .dotfiles/misc
	url = https://github.com/dholm/dotmisc.git
	branch = master
[submodule ".dotfiles/external/dircolors-solarized"]
	path = .dotfiles/external/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
	branch = master
[submodule ".dotfiles/external/liquidprompt"]
	path = .dotfiles/external/liquidprompt
	url = https://github.com/nojhan/liquidprompt.git
	branch = master
[submodule ".dotfiles/external/fontconfig-ultimate"]
	path = .dotfiles/external/fontconfig-ultimate
	url = https://github.com/bohoomil/fontconfig-ultimate.git
	branch = master
[submodule ".dotfiles/external/pip-app"]
	path = .dotfiles/external/pip-app
	url = https://github.com/sharat87/pip-app.git
	branch = master
