# Common home folders
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Projects
Public

# Bash

# Emacs
.emacs.cache

# vim
.viminfo

# zsh
.fasd
.zsh-update
.zcompdump

# Misc
.*.local
.*history
.ICEauthority
.Xauthority
.Xresources
.bazaar
.cabal
.cache
.cups
.dbus
.dia
.dirs
.dmrc
.dotfiles.git
.font*
.gconf
.gitconfig
.gnome*
.java
.less*
.nv*
.pip
.pulse*
.purple
.qt*
.subversion
.synaptic
.thumbnails
.thunderbird
.wire*
.xsession*
