# dotfiles repository
.dotfiles.git

# Common home folders
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Projects
Public

# Secrets
.ICEauthority
.Xauthority
.amazon-product-api
.gnome2_private
.gnupg
.gpg
.iid
.keychain
.lastpass
.pki
.pypirc
.vas_*

# Local data store
.cabal
.cpan
.fonts
.gem
.ghc
.icons
.mozilla
.npm
.nx
.pulse
.purple
.subversion
.task
.thunderbird
.wine

# Logs, caches and local files
*.local
*.log
*history
.DS_Store
.bower
.cache
.dbus
.debug
.emacs.cache
.fasd
.goutputstream-*
.gstreamer-0.10
.gtk-bookmarks
.ivy2
.java
.lesshst
.links
.macromedia
.matplotlib
.nv
.pip
.pulse-cookie
.pylint.d
.sbt
.themes
.thumbnails
.vim.cache
.viminfo
.wireshark
.xsession-*
.zcompdump
.zoom
.zsh-update

# Untracked configurations
.ICAClient
.KernelAnalyzerConfig
.Xresources
.adobe
.amd
.android
.bazaar
.config
!.config/taffybar
.cups
.darcs
.dia
.dirs
.dmrc
.fontconfig
.fonts.conf
.fonts.d
.gconf
.gitk
.gnome2
.gtkrc-2.0
.intel
.lftp
.libreoffice
.my.cnf
.nvidia-settings-rc
.qt
.synaptic
.taskrc
.xinitrc
.xsession
.xxxterm
