[submodule ".dotfiles/shell"]
	path = .dotfiles/shell
	url = git@github.com:dholm/dotshell.git
	branch = master
[submodule ".dotfiles/vim"]
	path = .dotfiles/vim
	url = git@github.com:dholm/dotvim.git
	branch = master
[submodule ".dotfiles/emacs"]
	path = .dotfiles/emacs
	url = git@github.com:dholm/dotemacs.git
	branch = master
[submodule ".dotfiles/tmux"]
	path = .dotfiles/tmux
	url = git@github.com:dholm/dottmux.git
	branch = master
[submodule ".dotfiles/external/dircolors-solarized"]
	path = .dotfiles/external/dircolors-solarized
	url = git://github.com/seebi/dircolors-solarized.git
	branch = master
[submodule ".dotfiles/xmonad"]
	path = .dotfiles/xmonad
	url = git@github.com:dholm/dotxmonad.git
	branch = master
[submodule ".dotfiles/taffybar"]
	path = .dotfiles/taffybar
	url = git@github.com:dholm/dottaffybar.git
	branch = master
[submodule ".dotfiles/misc"]
	path = .dotfiles/misc
	url = git@github.com:dholm/dotmisc.git
	branch = master
[submodule ".dotfiles/external/powerline"]
	path = .dotfiles/external/powerline
	url = git://github.com/Lokaltog/powerline.git
	branch = develop
[submodule ".dotfiles/external/liquidprompt"]
	path = .dotfiles/external/liquidprompt
	url = git://github.com/nojhan/liquidprompt.git
	branch = master
[submodule ".dotfiles/external/fontconfig-ultimate"]
	path = .dotfiles/external/fontconfig-ultimate
	url = git://github.com/bohoomil/fontconfig-ultimate.git
	branch = master
