# dotfiles repository
/.dotfiles.git

# Common home folders
/Applications
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Pictures
/Projects
/Public

# Secrets
/.ICEauthority
/.Xauthority
/.amazon-product-api
/.cvspass
/.gnome2_private
/.gnupg
/.gpg
/.iid
/.keychain
/.lastpass
/.pki
/.pypirc
/.ssh
/.vas_*

# Local data store
/.afs
/.cabal
/.cpan
/.fonts
!/.fonts/PowerlineSymbols.otf
/.gem
/.ghc
/.icons
/.mozilla
/.npm
/.nx
/.pulse
/.purple
/.subversion
/.task
/.thunderbird
/.wine

# Logs, caches and local files
*.log
*history
.DS_Store
.cache
/.bash_aliases.local
/.bash_profile.local
/.bower
/.dbus
/.debug
/.dt
/.emacs.local.el
/.fasd
/.fontconfig
/.gconfd
/.gdbinit.local
/.gitconfig.local
/.goutputstream-*
/.gstreamer-0.10
/.gtk-bookmarks
/.ivy2
/.java
/.juniper_networks
/.lesshst
/.links
/.local
/.macromedia
/.matplotlib
/.nv
/.pip
/.pulse-cookie
/.pylint.d
/.sbt
/.snapshot
/.swt
/.themes
/.thumbnails
/.tmux.local.conf
/.vim.cache
/.viminfo
/.vnc
/.w3m
/.wireshark
/.xsession-*
/.zcompdump
/.zoom
/.zsh-update
/.zshrc.local

# User local installations
/bin/*
!/bin/brightness
!/bin/sourcecsh
!/bin/vimcat
!/bin/vimpager
/etc
/include
/lib
/lib64
/libexec
/packages
/share
/var

# Untracked configurations
/.ICAClient
/.KernelAnalyzerConfig
/.Skype
/.Xmodmap
/.Xresources
/.adobe
/.amd
/.android
/.bazaar
/.compiz
/.config
!/.config/fontconfig
!/.config/taffybar
!/.config/liquidpromptrc
/.cups
/.darcs
/.dia
/.dirs
/.dmrc
/.eds
/.gconf
/.gitk
/.gnome
/.gnome2
/.intel
/.kde
/.kdiff3rc
/.lftp
/.libreoffice
/.mplayer
/.my.cnf
/.mw
/.mwfonts
/.nvidia-settings-rc
/.qt
/.synaptic
/.taskrc
/.telnetrc
/.wgetrc
/.xclearcase
/.xinitrc
/.xsession
/.xxxterm
